.home__block {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "left_sidebar main right_sidebar";
}

.home__block-left_sidebar {
    grid-area: left_sidebar;
    border-right: 1px solid grey;
    height: 100vh;
}

.left_sidebar-categories-title {
    display: block;
    text-align: center;
    text-decoration: underline;
    width: 100%;
    margin-top: 10px;
    cursor: default;
    border-bottom: 1px solid grey;
    padding: 15px 0;
}

.left_sidebar-categories-list {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    padding: 0px 0px;
    margin-left: 5px;
    align-content: space-evenly;
}

.left_sidebar-categories-item {
    margin: 5px 5px;
}

.home__block-main {
    grid-area: main;
}

.home__block-right_sidebar {
    grid-area: right_sidebar;
    border-left: 1px solid grey;
    height: 100vh;
}

.right_sidebar-last_articles {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
}

.right_sidebar-last_articles-title {
    display: block;
    text-align: center;
    text-decoration: underline;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: default;
    border-bottom: 1px solid grey;
    padding: 15px 0;
}