.header__block {
    background-color: #d5d8dc;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "logo auth";
    align-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    cursor: default;
}

.header__logo {
    grid-area: logo;
}

.header__logo-title {
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 32px;
    position: relative;
    left: 13%;
    top: 15%;
}

.header__auth {
    grid-area: auth;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 0.65fr 1fr;
    grid-template-areas: "left right";
}

.header__auth-btns {
    grid-area: right;
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.header__auth-user {
    width: 50%;
    grid-area: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    background-color: azure;
    padding: 5px 5px;
    border-radius: 2.5vh;
}

.header__auth-user_login {
    margin-left: 2vh;
}

.header__auth-user-menu {
    position: absolute;
    top: 11vh;
    right: 32.5vh;
    width: 15%;
    border-radius: 2vh;
    background-color: azure;
}

.header__auth-user-menu_item {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
}
